#menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}
#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#menu button:hover:enabled {
    background-color: grey;
    color:white;
  }

#menu button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: white
  color: #666666;
}

#info {
  visibility: hidden;
  background-color: white;
  color: darkgrey;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  box-shadow: 0 0 5px grey;
  position: absolute;
}